<div class="container">
  <h2>Hive Section Editor</h2>
  <form (ngSubmit)="onSubmit()" #hiveForm="ngForm">
    <div class="form-group" *ngIf='existed'>
      <label for="idLabel">ID</label>
      <input type="text" class="form-control" id="id" aria-describedby="idLabel" [(ngModel)]="hiveSection.id" name="id" #id="ngModel"
        readonly>
    </div>
    <div class="form-group">
      <label for="name" id="nameLabel">Hive section Name</label>
      <input type="text" class="form-control" id="name" aria-describedby="nameLabel" minlength="4" maxlength="60" required [(ngModel)]="hiveSection.name"
        name="name" #name="ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">Hive Name is required.</div>
        <div *ngIf="name.errors.minlength">Hive Name must be at least 4 characters long.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="code" id="codeLabel">Hive section Code</label>
      <input type="text" class="form-control" id="code" aria-describedby="codeLabel" minlength="5" maxlength="5" required [(ngModel)]="hiveSection.code"
        name="code" #code="ngModel">
      <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert alert-danger">
        <div *ngIf="code.errors.required">Hive code is required.</div>
        <div *ngIf="code.errors.minlength || code.errors.maxlength">Hive code must be 5 characters long.</div>
      </div>
    </div>
    <div class="form-group" *ngIf='existed'>
      <label for="lastUpdated" id="lastUpdatedLabel">Last Update</label>
      <input type="text" class="form-control" id="lastUpdated" aria-describedby="lastUpdatedLabel" required [(ngModel)]="hiveSection.lastUpdated"
        name="lastUpdated" #lastUpdated="ngModel" readonly>
    </div> 
    <div class="form-group">
        <div class="btn-group mr-2" role="group" aria-label="Submit group">
            <input type="submit" class="btn btn-primary" value="Save" [disabled]="name.invalid || code.invalid">
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Purge group" *ngIf="!existed" (click)="onPurge()">
            <button type="button" class="btn btn-danger">Purge</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Undelete group" *ngIf="existed" (click)="onUndelete()">
            <button type="button" class="btn btn-danger">Undelete</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Delete group" *ngIf="existed" (click)="onDelete()">
            <button type="button" class="btn btn-danger" [disabled]="!hiveSection.isDeleted">Delete</button>
        </div> 
        <div class="btn-group mr-2" role="group" aria-label="Back group" (click)="navigateToHiveSections()">
            <button type="button" class="btn btn-danger">Back</button>
        </div>
    </div>
  </form>
</div>